.collaborations::before{
    content: "";
    position: absolute;
    background: url('../color-box/sky-back.svg') no-repeat;
    height: 50px;
    width: 260px;
    left: -7px;
    z-index: -1;
}
.collab-list-name{
    height: 300px;
    width: 310px;

}
.collab-list-name h1{
    color: var(--primary-color2);
}