header::before {
  content: "";
  position: absolute;
  background: url("../img/Header.svg") no-repeat center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.title-tl,
.nav-link,
.login-btn,
.tagline,
.our-work {
  color: var(--primary-color4);
}
.bar {
  background-color: var(--primary-color4);
}
.title-tl {
  font-family: Hanson;
}
.login-btn,
.get-a-tech-fact-btn {
  color: var(--primary-color1);
}
